/* top */
.jumbotron-fluid{
    height: 100%;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;

}

.display-4 {
  margin-top: -10px;
  padding-bottom: 10px;
}

.budget__value {
  margin-top: -10px;
  font-size: 35px;
}

.top_heading {
  margin: auto;
  font-size: 20px;
  font-weight:450;
}


/* Bottom */
.add {
  margin-top: -15px;
  text-align: center;
}

.bottom_heading {
  text-align: center;

}
