/* top */
.jumbotron-fluid {
  height: 100%;
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.display-4 {
  margin-top: -10px;
  padding-bottom: 10px;
  font-weight: 400;
}

.budget__value {
  margin-top: -10px;
  font-size: 50px;
}

.top_heading {
  font-size: 30px;
}

.budget__income--text {
  color: green;
  font-size: 30px;
}

.budget__expenses--text {
  color: rgb(227, 47, 47);
  font-size: 30px;
}

.top-container {
  background-color: rgba(192, 160, 160, 0.705);
  padding: 0;
}

.budget__expenses--text,
.budget__income--text {
  background-color: rgba(189, 188, 188, 0.425);
}

/* Bottom */
.add__container {
  text-align: center;
}

.bottom_heading {
  text-align: center;
}

#btn {
  box-sizing: border-box;
  margin: 10px 0 10px 10px;
  text-decoration: none;
  display: inline-block;
  height: 21px;
  width: 40px;
  cursor: pointer;
}

.item__delete--btn {
  height: 1rem;
  width: 2rem;
  background-color: #cccccc;

  border: none;
  text-align: center;
}

.income-item {
  color: #008000;
}

.expense-item {
  color: #ff0000;
}

@media (min-width: 441px) {
  .add__container {
    text-align: center;
  }
}
